/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "txtbookerres.h"


IDD_MAINDIALOG DIALOG 56, 8, 379, 213
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "txtbooker"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDCONTENT, 25, 81, 331, 90, ES_MULTILINE | ES_AUTOHSCROLL | WS_VSCROLL
    EDITTEXT        IDURL, 71, 27, 267, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Grab", IDGRAB, 324, 183, 40, 14
    PUSHBUTTON      "Parse", IDPARSE, 267, 183, 40, 14
    LTEXT           "目录链接", 101, 34, 29, 35, 10
    GROUPBOX        "设置", -1, 26, 13, 329, 59
    COMBOBOX        IDCBPEND, 235, 51, 104, 69, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "开始章节", IDLBLPSTART, 34, 51, 35, 10
    LTEXT           "结束章节", -1, 195, 51, 35, 10
    COMBOBOX        IDCBPSTART, 74, 51, 104, 69, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
END
