/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "txtbookerres.h"


IDD_MAINDIALOG DIALOG 56, 8, 379, 213
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "txtbooker"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDCONTENT, 25, 86, 331, 85, ES_MULTILINE | ES_AUTOHSCROLL | WS_VSCROLL
    EDITTEXT        IDURL, 71, 31, 112, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Grab", IDGRAB, 324, 183, 40, 14
    PUSHBUTTON      "Parse", IDPARSE, 267, 183, 40, 14
    LTEXT           "目录链接", 101, 34, 33, 35, 10
    GROUPBOX        "设置", -1, 26, 17, 329, 59
    EDITTEXT        IDEDTREG, 236, 31, 102, 12, ES_AUTOHSCROLL
    LTEXT           "通配符", IDLBLREG, 202, 32, 28, 10
    COMBOBOX        IDCBPEND, 235, 55, 104, 64, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "开始章节", IDLBLPSTART, 34, 56, 35, 10
    LTEXT           "结束章节", -1, 195, 56, 35, 10
    COMBOBOX        IDCBPSTART, 74, 54, 104, 69, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
END
